.name, .contact, .socials, .skills, .education, .experience {
    display: flex;
    flex-direction: column;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    justify-content: center;
    background-color: transparent;
}

.form-wrapper {
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.first {
    background: violet;
}

.second {
    background: lightgreen;
}

input, textarea {
    border: 1px solid #aaa;
    padding: 0.25rem;
    border-radius: 2.5px;
    margin: 0.25rem;
}

.role {
    display: flex;
    flex-direction: column;
}

label {
    color: purple;
    font-size: 1.1rem;
}

.actual-form {
    margin: 0 auto;
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 50%;
}

.form-wrapper {   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}